.Layout { 
    width: 1440px;
    height: 1024px;
    display: flex;
   &__container {
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
        &__horizontale {
            width: 1440px;
            height: 91px;
            display: flex;
            background-color: black;
            justify-content: center;
            &__logo{
                width: 25%;
                height: auto;
                display: flex;
            }
            &__nav {
                width: 75%;
                height: auto;
                display: flex;
                margin: auto auto;

                &__content {
                    width: 25%;
                    height: auto;
                    display: flex;
                } 
            }
        }
        &__verticale {
            width: 1440px;
            height: 1234px;
            display: flex;
            background-color: white;
            &__nav {
                width: 117px;
                height: 1024px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: black;
                &__icon{
                    width: auto;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
                    margin-bottom: 50px;

                    span{
                        width: 10vh;
                        height: auto;
                        display: flex;
                        justify-content: center;
                    }   
                }
                &__texte{
                    width: auto;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    // margin-top: 30px;

                    h4 {
                        writing-mode: vertical-lr;
                        display: inline;
                        color: white;
                        transform: rotate(180deg);
                        align-items:  flex-end;
                        margin-bottom: 50px;
                    }
                }
        }
            &__body {
                width: 1323px;
                height: auto;
                display: flex;
                background-color: white;
                &__outlet {
                    width: 85%;
                    height: auto;
                    display: flex;
                }
            }
        }
   }
              
         
    }